body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
   
}

h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

  .content{
    position:relative;
    background: #000;
    width:450px;
    color:white;
    margin-left:35%;
    margin-top:8%;
    font-size:16px;
    padding: 10px;
    border-radius: 10px;
  }
  @property  --direction{
    
  }
  .content::after,
  .content::before{
    content: '';
    position:absolute;
    width:100%;
    height:100%;
    translate: -50% -50%;
    left:50%;
    top:50%;
    z-index: -1;
    padding: 4px;
    background: conic-gradient(
           from 0deg,
          /* transparent 70%,*/
           #ff5f6d,
           #ffc371,
           #5ffffc,
           #ffd799,
           #32cd32,
           #9932cd,
           #00fa9a,
           #1e90ff,
           #9370db,
           #ff5f6d);
       border-radius: 10px;
      animation: rotate 3s  linear infinite;
      animation-delay: 3s;
  }
  
  @keyFrames rotate{
    from 
    {
      --direction :0deg;
    }
    to{
      --direction: 360deg;
    }
  }
  .content::before,{
    filter: blur(1.5rem);
    opacity: 0.8;
  }

  .DiwaliPhoto{
    width:20%;
    margin-top:3%;
    border-radius: 3%;
    margin-left:2%;   
  }
.DiwaliPhoto2{
    width:20%;
    margin-top:3%;
    border-radius: 3%;
    margin-left:5%;
}
.DiwaliPhoto3{
    width:20%;
    margin-top:3%;
    border-radius: 3%;
    margin-left:5%;
}